.App {
  height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
  position: relative;
}

.game {
  position: absolute;
  height: 500px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}

.character {
  position: absolute;
}

.scene-fragment {
  position: absolute;
  width: 3000px;
  height: 100%;
}

.scene-obstacle {
  position: absolute;
  background-color: black;
}

.hurt {
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1000;
  background-color: rgba(255, 0, 0, 0.2);
}

.jump-button {
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1050;
  background-color: rgba(255, 0, 0, 0);
}
