.App {
  height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
  position: relative;
}

.game {
  position: absolute;
  height: 500px;
  background-color: rgb(220,220,220);
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}

.game-touch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.individual {
  position: absolute;
  border: 1px solid black;
}

.scene-background {
  position: absolute;
}

.hurt {
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
  background-color: rgba(255, 0, 0, 0.2);
}

